article.archive {
    padding: 1em 0 1em;
    background: $img-border bottom left repeat-x;
    &:last-child {
      background: none;
    }
	h2 { display: none; }
	header {
		padding-top: 0;
		margin-bottom: .2em;
		vertical-align: top;
		h1 {
			color: $text-color;
			display: inline-block;
			a {
				display: inline-block;
				@include hover-link;
				color: inherit;
				&:hover { color: $link-color-hover; }
				font-weight: normal;
			}
		}
		time {
			&:before {
				padding: 0.3em;
				content: "—";
			}
			color: $text-color-light;
			display: inline-block;
			.month { text-transform: uppercase; }
		}
	}
    footer {
		padding: 0;
		margin: 0;
		margin-top: 0.25em;
	    color: $text-color-light;
	}
  p { margin-bottom: 1em; }
  &, .entry-content { a { @include link-colors(inherit, $link-color-hover); }}
  a:hover { color: $link-color-hover; }
  @media only screen and (min-width: 550px) {
    article { margin-left: 5em; }
    h2 {
      margin-bottom: .3em;
      font-weight: normal;
      display: inline-block;
      position: relative; top: -1px;
      float: left;
      &:first-child { padding-top: .75em; }
    }
    article {
      padding:{left: 4.5em; bottom: .7em;}
    }
  a.category {
    line-height: 1.1em;
  }
  }
}

#content > .category {
  article {
    margin-left: 0;
    padding-left: 6.8em;
  }
}
