body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 2em 0;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    a, a:visited, a:hover {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      text-decoration: none;
    }
  }
}
