<meta name="twitter:site" content="@juliansimioni">
<meta name="twitter:creator" content="@juliansimioni">

{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{% if page.url != "/index.html" and page.url != "/blog/index.html" and page.url != "/projects/index.html and page.url != "/projects/college/index.html" %}
<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}
