// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "custom/rve";

.footnotelist {
    font-size: 0.8em;
	.backlink {
		text-decoration: none;
	}
}

.project + a {
	display: block;
	margin: auto;
	width: 500px;
}
